<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <sectionGroup name="NUnit">
        <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Manager.Properties.Settings.RAIConnectionString" connectionString="Data Source=62.140.237.131;Initial Catalog=RAI;Persist Security Info=True;User ID=bot;Password=vragi!Proidut"
            providerName="System.Data.SqlClient" />
        <add name="Manager.Properties.Settings.ClientRAIConnectionString"
            connectionString="Data Source=|DataDirectory|\RAI.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <userSettings>
        <Manager.Properties.Settings>
            <setting name="GenCodesFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SellChannelText" serializeAs="String">
                <value />
            </setting>
            <setting name="СтартовыйКод" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortNumberText" serializeAs="String">
                <value />
            </setting>
        </Manager.Properties.Settings>
    </userSettings>
  <NUnit>
    <TestRunner>
      <!-- Valid values are STA,MTA. Others ignored. -->
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>
</configuration>